<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home page - {{title}}</title>
</head>
<body>


    <!-- Menu bar-->
    <div>
        <a href="/index">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <span style="color:red;">{{ message }}</span><br />
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- User -->
    {% block user %}
    {% endblock %}


    <!-- Content -->
    {% block content %}
    <h3>block content</h3>
    {% endblock %}


    <!-- Footer -->
    {% include 'footer.html' %}

</body>
</html>