<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home page - {{title}}</title>
    <div></div>
</head>
<body>
{%  extends "base.html" %}

{% macro mailto(email) %}
<a href="mailto:{{email}}">Send mail</a>
{% endmacro %}


{% block content %}
<div>Number of posts: {{ posts|length }}</div>
<table border="1">
    <tr>
        <th>User</th>
        <th>Post</th>
        <th>E-mail</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ "{} says:".format(post.author.name)}}</td>
        <td>{{post.body}}</td>
        <td> {{ mailto(post.author.get_email()) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


{% block user%}
    {% if user %}
    <h3>Hello, {{user.username|capitalize}}</h3>
    {% else %}
    <h3>Please login!</h3>
    {%  endif%}
{% endblock %}
</body>
<footer>
    <div></div>
    <p>Copyright &copy; 2023</p>
</footer>
</html>